
body {
	background-color:#241F1E;
}

#_ {
	color:yellow; 
}

#One {
	color:#B1C4A7;
	font-size:60px;
}

#Office {
	font-size:40px;
	color:white;
	background-color:purple;
}

#GOLOVNA {
	font-size:40px;
	color:white;
	background-color:purple;
}

#Games{
	font-size:40px;
	color:white;
	background-color:purple;
}

#Garvis {
	font-size:20px;
	color:black;
	background-color:white;
}
